<h1>New Service</h1>
<%= form_for @service do |form| %>
    <p><%= form.label :title %>
    <%= form.text_field :title, required: "required" %></p>

    <p><%= form.label :description %>
    <%= form.text_area :description, required: "required", value: "Enter job description here" %></p>

    <p><%= form.label :location %>
    <%= form.text_field :location, required: "required" %></p>

    <p>
        <%= form.label :image %>
        <%= form.file_field :image %>
    </p>        

    <%= form.submit "Submit" %>
<% end %>
<%= button_to "Cancel", services_path, method: :get %>