<div id="sidenav">
<%if user_signed_in?%>
 <%=link_to  'Create a Job' %>
 <%=link_to  "Edit a Job"%>
 <%=link_to  'Delete a Job'%>
 <%=link_to  "Create a Proposal"%>
 <%=link_to  "Edit a Proposal"%>
 <%=link_to  'Delete a Proposal'%>
 <%end%>

</div>