<section class="topnav">
  <% if user_signed_in? %>
    <p><%= current_user.email %> (<%= link_to 'Edit Account', edit_user_registration_path %>) | <%= link_to 'Logout', destroy_user_session_path, method: "delete", class:"top-nav-link" %></p>
  <% else %>
    <p><%= link_to 'Login', new_user_session_path, class:"top-nav-link"%> | <%= link_to 'Sign Up', new_user_registration_path, class:"top-nav-link"%></p>
  <% end %>
</section>