<h1>Payments</h1>
  <h3>For: <%=@service.user.fullname%></h3>
    <p>Job: <%=@service.title%></p>
    <p>by: <%=@proposal.user.fullname%></p>
    <p>price: <%=@proposal.price / 100.0%></p>
<button id="pay-now">Pay now</button>
<script>
    var stripe = Stripe('pk_test_ZgRDvv53P19xEqHnxaYy3A8Y00EipdpPEr');
    function redirectToStripe() {
    stripe.redirectToCheckout({
    sessionId: '<%= @session.id %>'
    }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
    });
    }
    document.querySelector("#pay-now").addEventListener("click",
    redirectToStripe)
</script>