<h1>Accepted Proposals</h1>
<% @accepted_proposals.each do |proposal| %>
  <hr>
  <h3><%= link_to proposal.service.title, service_path(proposal.service.id) %>
  <p>Posted by <%= proposal.user.fullname %></p></h3>
  <p><%= proposal.notes %></p>
  <% if proposal.service.completed_on %>
    <% if proposal.service.paid_on %>
      <p>Job completed and paid!</p>
    <% else %>
      <p>Awaiting payment</p>
    <% end %>
  <% else %>
    <p>Awaiting completion of service</p>
  <% end %>
<% end %>

<hr>
<h1>Pending Proposals</h1>
<% @pending_proposals.each do |proposal| %>
  <hr>
  <h3><%= link_to proposal.service.title, service_path(proposal.service.id) %>
  <p>Posted by <%= proposal.user.fullname %></p></h3>
  <p><%= number_to_currency(proposal.price / 100.0) %></p>
  <p><%= proposal.notes %></p>
  <p><%= link_to "Edit", edit_service_proposal_path(proposal.service.id, proposal.id) %> 
    <%= link_to "Withdraw",
    service_proposal_path(proposal.service.id, proposal.id),
    method: :delete,
    data: {confirm: "Are you sure? This action cannot be undone"} %></p>
<% end %>

<hr>
<h1>Rejected Proposals</h1>
<% @rejected_proposals.each do |proposal| %>
  <hr>
  <h3><%= link_to proposal.service.title, service_path(proposal.service.id) %>
  <p>Posted by <%= proposal.user.fullname %></p></h3>
  <p><%= number_to_currency(proposal.price / 100.0) %></p>
  <p><%= proposal.notes %></p>
  <p><%= link_to "Dismiss", service_proposal_path(proposal.service.id, proposal.id), method: :delete %></p>
<% end %>