<h1>New Proposal</h1>
<%= form_for [@service, @proposal] do |form| %>
    <%= form.hidden_field :service_id, value: @service.id %>
    <p><%= form.label :price %>
    <%= form.number_field :price, required: "required" %></p>

    <p><%= form.label :notes %>
    <%= form.text_area :notes, placeholder: "Enter proposal notes." %></p>

    <%= form.submit "Submit" %>
<% end %>
<%= button_to "Cancel", service_path(@service.id), method: :get %>