<h1>New Proposal</h1>
<%= form_for [@service, @proposal] do |form| %>
    <p><%= form.label :price %>
    <%= form.number_field :price, required: "required", step: 0.01 %></p>

    <p><%= form.label :notes %>
    <%= form.text_area :notes, placeholder: "Enter proposal notes." %></p>

    <%= form.submit "Submit" %>
<% end %>
<%= button_to "Cancel", service_path(@service.id), method: :get %>