<!DOCTYPE html>
<html>
  <head>
    <title>ServicesPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <%= render "shared/topnav"%>
  </div>
  <% if user_signed_in? %>
    <div class="sidenav">
      <%= render "shared/sidenav"%>
    </div>
  <% end %>

  <section class="page">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div>
    <%= yield %>
    </div>
    </section>
  </body>
</html>
